<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<header>
    <img id="logo" src="./images/logo-mercado-liebre.svg">
    <h3 id="navBar"><input/><i class="fas fa-search"></i></h3>
    <h3>Compra en cuotas y sin tarjeta de credito</h3>
    <div id="site">
    <ul>
        <li><a href ="">Ofertas</a></li>
        <li><a href ="">Tiendas oficiales</a></li>
        <li><a href = "">Vender</a></li>
        <li><a href = "">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href =""><i class="fas fa-id-card"></i><span>Crea tu cuenta</span></li></a>
        <li><a href =""><i class="fas fa-sign-in-alt"></i><span>Ingresa</span></li></a>
        <li><a href =""><i class="fas fa-shopping-cart"></i><span>Mis compras</span></li></a>
    </ul>
</div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </header>
    <img id="banner" src = "./images/img-home-banner.jpg">
<main>
    <ul><div class="catalogo">
        <li class = "titulares">Sección: Basado en tu última visita</li>
        <div class="articulo">
        <img src ="./images/img-cafetera-moulinex.jpg">
        <div class="datos">
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio"> $6.770</p>
        <p class = "descuentos">40% OFF</p>
    </div>
        <p class = "nombre">Cafetera Moulinex</p>
        </div>
        </div>
    <div class="articulo">
        <img src ="./images/img-macbook-pro-2019.jpg">
        <section>
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio">$230.000</p>
        <p class = "descuentos">20% OFF</p>
    </div>
        <p class = "descripciones">MacBook Pro 2019</p>
    </section>
    </div>
    <div class="articulo">
        <img src = "./images/img-samsung-galaxy-s10.jpg">
        <section>
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio">$70.500</p>
        <p class = "descuentos">10% OFF</p>
    </div>
        <p class = "descripciones">Samsung Galaxy S10</p>
    </section>
    </div>
        <li class = "titulares">Sección de ofertas</li>
    </div>
    <div class="catalogo">
    <div class="articulo">
        <img src ="./images/img-cafetera-moulinex.jpg">
        <section>
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio">$6.770</p>
        <p class = "descuentos">40% OFF</p>
    </div>
        <p class = "descripciones">Cafetera Moulinex</p>
    </section>
    </div>
    <div class="articulo">
        <img src ="./images/img-macbook-pro-2019.jpg">
        <section>
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio">$230.000</p>
        <p class = "descuentos">20% OFF</p>
    </div>
        <p class = "descripciones">MacBook Pro 2019</p>
    </section>
    </div>
    <div class="articulo">
        <img src = "./images/img-samsung-galaxy-s10.jpg">
        <section>
        <p><i class="fa-regular fa-truck"></i></p>
        <div class="valores">
        <p class="precio">$70.500</p>
        <p class = "descuentos">10% OFF</p>
    </div>
        <p class = "descripciones">Samsung Galaxy S10</p>
    </div>
    </section>
    </div>
    </ul>
</main>
<footer>
    <i class="far fa-credit-card img"></i>
    <p class = "titulares">Pagá con tarjeta o en efectivo</p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
         puntos de pago. ¡Y siempre es seguro!</p>
    <i class="fas fa-gifts img"></i>
    <p class = "titulares">Envio gratis desde $2500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <i class="fas fa-shield-alt img"></i>
    <p class = "titulares">Seguridad de principio a fin.</p>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
