<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<header>
    <div class="encabezado">
    <img id="logo" src="./images/logo-mercado-liebre.svg">
    <form action="home1.html">
    <h3 id="navBar"><input type="text" name="busqueda" ><i class="fas fa-search"></i></h3>
    </form>
    <h3>Compra en cuotas y sin tarjeta de credito</h3>
    </div>
    <div class="opciones">
    <ul>
        <li><a href ="">Ofertas</a></li>
        <li><a href ="">Tiendas oficiales</a></li>
        <li><a href = "">Vender</a></li>
        <li><a href = "">Ayuda</a></li>
    </ul>
    <ul>
        
        <li><a href ="/register"><i class="fas fa-id-card"></i><span>Crea tu cuenta</span></li></a>
        <li><a href ="/login"><i class="fas fa-sign-in-alt"></i><span>Ingresa</span></li></a>
        <li><a href =""><i class="fas fa-shopping-cart"></i><span>Mis compras</span></li></a>
        
    </ul>
</div>
    <div class="burger">
    <i id="burger" class="fas fa-bars"></i>
    </div>
    </header>
    <div class="banner">
    <img id="banner" src = "./images/img-home-banner.jpg">
    </div>
    <body>
    <main>
        <h2>Sección: Basado en tu última visita</h2>
        <div class="catalogo">
            <article>
                <img src ="./images/img-cafetera-moulinex.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio"> $6.770</p>
                <p class = "descuentos">40% OFF</p>
                </div>
                <p class = "nombre">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src ="./images/img-macbook-pro-2019.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio">$230.000</p>
                <p class = "descuentos">20% OFF</p>
                </div>
                <p class = "nombre">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src = "./images/img-samsung-galaxy-s10.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio">$70.500</p>
                <p class = "descuentos">10% OFF</p>
                </div>
                <p class = "nombre">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="datos">
                    <i id="camion" class="fas fa-truck-moving"></i>
                    <div class="valores">
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <p class="nombre">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
        <h2>Seccion de Ofertas</h2>
        <div class="catalogo">
            <article>
                <img src ="./images/img-cafetera-moulinex.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio"> $6.770</p>
                <p class = "descuentos">40% OFF</p>
                </div>
                <p class = "nombre">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src ="./images/img-macbook-pro-2019.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio">$230.000</p>
                <p class = "descuentos">20% OFF</p>
                </div>
                <p class = "nombre">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src = "./images/img-samsung-galaxy-s10.jpg">
                <div class="datos">
                <i id="camion" class="fas fa-truck-moving"></i>
                <div class="valores">
                <p class="precio">$70.500</p>
                <p class = "descuentos">10% OFF</p>
                </div>
                <p class = "nombre">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="datos">
                    <i id="camion" class="fas fa-truck-moving"></i>
                    <div class="valores">
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <p class="nombre">SmartTv Samsung 43"</p>
                </div>
            </article>
            </div>
    </main>
    </body>
    <footer>
        <div class="subfooter">
        <i class="far fa-credit-card img"></i>
        <p class = "titulares">Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
             puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="subfooter">
        <i class="fas fa-gifts img"></i>
        <p class = "titulares">Envio gratis desde $2500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="subfooter">
        <i class="fas fa-shield-alt img"></i>
        <p class = "titulares">Seguridad de principio a fin.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    