<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles1.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<header>
    <div class="encabezado">
    <img id="logo" src="./images/logo-mercado-liebre.svg">
    <form action="home1.html">
        <h3 id="navBar"><input type="text" name="busqueda" ><i class="fas fa-search"></i></h3>
        </form>
    <h3>Compra en cuotas y sin tarjeta de credito</h3>
    </div>
    <div class="opciones">
    <ul>
        <li><a href ="">Ofertas</a></li>
        <li><a href ="">Tiendas oficiales</a></li>
        <li><a href = "">Vender</a></li>
        <li><a href = "">Ayuda</a></li>
    </ul>
    <ul>
        
        <li><a href ="/register"><i class="fas fa-id-card"></i><span>Crea tu cuenta</span></li></a>
        <li><a href ="/login"><i class="fas fa-sign-in-alt"></i><span>Ingresa</span></li></a>
        <li><a href =""><i class="fas fa-shopping-cart"></i><span>Mis compras</span></li></a>
        
    </ul>
</div>
    <div class="burger">
    <i id="burger" class="fas fa-bars"></i>
    </div>
    </header>
<body>
    <form action="login">
    <input type="text" name="userName" id="userName" minlength="1"  value="Nombre de Usuario"><br>
    <input type="password" name="password" id="password" value="password"><br>
    </form>
        <form action="/home">
        <button id="submit" type="submit">Ingresar</button>
    </form>
</body>
<footer>
    <div class="subfooter">
    <i class="far fa-credit-card img"></i>
    <p class = "titulares">Pagá con tarjeta o en efectivo</p>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
         puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="subfooter">
    <i class="fas fa-gifts img"></i>
    <p class = "titulares">Envio gratis desde $2500</p>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div class="subfooter">
    <i class="fas fa-shield-alt img"></i>
    <p class = "titulares">Seguridad de principio a fin.</p>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>
