<!DOCTYPE html>
<head>
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>
    <form action="register.html"></form>
    <label for="nombreApellido">Nombre y apellido
    <input type="text" name="nombreApellido">
    </label><br>
    <label for="nombreUsuario">Nombre del usuario
    <input type="text" name="nombreUsuario">    
    </label><br>
    <label for = "fechaNacimiento">Fecha de nacimiento
        <input type="date" name="fechaNacimiento">
    </label><br>
    <label for="domicilio">Domicilio
    <input type="text" name="domicilio">
    </label><br>
    <label for="intereses">Categorias de interes <br>
    <input type="checkbox" name="intereses" value="Electro"><label>Electro</label><br>
    <input type="checkbox" name="intereses" value="Moda"><label>Moda</label><br>
    <input type="checkbox" name="intereses" value="Hogar"><label>Hogar</label><br>
    <input type="checkbox" name="intereses" value="Jugueteria"><label>Jugueteria</label><br>
    <input type="checkbox" name="intereses" value="Vida sana"><label>Vida sana</label><br>
    </label><br>
    <label for="fotoUsuario"> Foto del usuario
    <input type="file" name="fotoUsuario" id="fotoUsuario">
    </label><br>
    <label for="password"> Contraseña
        <input type="password" name="password" id="password">
    </label><br>
    <label for="password2">Confirmar Contraseña
        <input type="password" name="password2" id="password2">
    </label><br>
    <button type="submit" >Enviar</button>
    <button type="reset">Borrar todo</button>

</body>