
form {
    display: block;
    text-align: center;
    width: 33%;
}
input{
    margin: 10px;
    height: 20%;
    width: 80%;
    text-align: center;
    max-width: 500px;
}
#submit{
    width: 60%;
    max-width: 500px;
}
#submit:hover{
    background-color: #0022AA;
}